@page "/updatepersonaldata"
@using System.Text.Json
@using System.Text
@inject AppState appState
@inject NavigationManager navigationManager
@inject ISettings settings

<h1>Update Personal Data</h1>
<br>
<h2>
    Chose what you want to update by checking a box. If you want to
    remove previously stored data, just leave the specific field
    as it is (do not enter anything) after checking the coresponding box.
</h2>

<br>
<div>
    <div class="form-group col-md-6">
        <input type="checkbox" @bind="isEmailEnabled" /> <label for="email">Email</label>
        <input type="email" class="form-control" placeholder="Enter email" @bind="email"
               disabled="@(!isEmailEnabled)" />
        <br>
    </div>
    <div class="form-group col-md-6">
        <input type="checkbox" @bind="isTelephoneEnabled" /> <label for="telephone">Telephone</label>
        <div class="d-flex">
            <select class="form-control me-2" @bind="selectedCountryCode" disabled="@(!isTelephoneEnabled)">
                @foreach (var country in countryCodes)
                {
                    <option value="@country.Code">@country.Name (@country.Code)</option>
                }
            </select>
            <input type="tel" class="form-control" placeholder="Enter telephone" @bind="telephone"
                   disabled="@(!isTelephoneEnabled)" />
        </div>
        <br>
    </div>
    <div class="form-group col-md-6">
        <input type="checkbox" @bind="isSecretWordEnabled" /> <label for="secretWord">Secret Word</label>
        <input type="password" class="form-control" placeholder="Enter secret word" @bind="secretWord"
               disabled="@(!isSecretWordEnabled)" />
        <br>
    </div>
    <div class="form-group col-md-6">
        <label for="confirmPassword">Password</label>
        <input type="password" class="form-control" placeholder="Enter password to confirm" @bind="confirmPassword" />
    </div>
    <br>
    <button type="submit" class="btn btn-primary" @onclick="SaveData">Save</button>
</div>


@if (!string.IsNullOrEmpty(errorMessage))
{
    <br>

    <br>
    <div class="alert alert-danger" role="alert">
        @errorMessage
    </div>
}

<br>
@if (!string.IsNullOrEmpty(successMessage))
{
    <br>
    <div class="alert alert-success" role="alert">
        @successMessage
    </div>
}
<br>
<br>
<h3>
    Please note that if you update (or remove) e-mail address you will not be automatically unsubscribed from the newsletter.
    You can always do it from any e-mail message you get from us or by contacting us with opt-out request.
</h3>
<p>
    Also you will not be subscribed to the newsletter with the new e-mail. You can do it manually on the website or by
    contacting us
</p>

@code {
    private string? email;
    private string? telephone;
    private string? secretWord;
    private string? confirmPassword;
    private bool isEmailEnabled;
    private bool isTelephoneEnabled;
    private bool isSecretWordEnabled;
    private string? errorMessage;
    private string? successMessage;
    private string selectedCountryCode;
    private string api => settings.ApiUrl;

    private List<CountryCode> countryCodes = new List<CountryCode>
    {
        new CountryCode { Name = "United States", Code = "+1" },
        new CountryCode { Name = "United Kingdom", Code = "+44" },
        new CountryCode { Name = "Canada", Code = "+1" },
        new CountryCode { Name = "Australia", Code = "+61" },
        // Add more country codes as needed
    };

    protected override void OnInitialized()
    {
        if (!appState.IsSignedIn)
        {
            navigationManager.NavigateTo("signin");
        }
    }

    private async Task SaveData()
    {
        errorMessage = null;
        successMessage = null;
        if (string.IsNullOrEmpty(confirmPassword))
        {
            errorMessage = "Please enter your password!";
            return;
        }
        if (string.IsNullOrEmpty(api))
        {
            MainLogger.LogError("API URL is not set.");
            errorMessage = "Sorry, something went wrong. Please try again later.";
            return;
        }
        var user = new User
            {
                Id = appState.UserId,
                Login = appState.Username,
                Password = confirmPassword
            };
        var personalData = new PersonalData
            {
                Email = isEmailEnabled ? email : null,
                Tel = isTelephoneEnabled ? $"{selectedCountryCode}{telephone}" : null,
                Secret = isSecretWordEnabled ? secretWord : null
            };
        var userData = new UserData
            {
                User = user,
                PersonalData = personalData
            };
        var json = JsonSerializer.Serialize(userData);
        var content = new StringContent(json, Encoding.UTF8, "application/json");
        using var httpClient = new HttpClient();
        var response = await httpClient.PutAsync($"{api}/dataupdate", content);
        var responseObject = await response.Content.ReadFromJsonAsync<ApiResponseUser>();
        if (response.IsSuccessStatusCode)
        {
            if (responseObject is not null && responseObject.Success)
            {
                successMessage = "Personal Data updated successfully!";
            }
            else
            {
                errorMessage = "Sorry, something went wrong. Please try again later. Possible reason: "
                + responseObject?.Error ?? "Unknown error...";
            }
        }
        else
        {
            errorMessage = "Sorry, something went wrong. Please try again later. Possible reason: "
            + responseObject?.Error ?? "Unknown error...";
        }
    }

    private class CountryCode
    {
        public string Name { get; set; }
        public string Code { get; set; }
    }
}
